/*coach-dashboard*/
button.btn-action:hover{
    border: 1px solid darkgray;
    background-color: #808080;
    border-radius: 5px;
}

canvas#weight-chart{
    height: auto;
    width: 100%;
}
table {
    border-collapse: collapse;
    font-size: 0.9em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    width: 100%;

}
thead tr {
    background-color: #009879;
    color: #ffffff;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 12px 15PX;
}
tbody tr {
    border-bottom: 1px solid #dddddd;
}
tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}
tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}
tr:nth-child(even) {
    background-color: #f3f3f3;

}
tr:last-of-type {
    border-bottom: 2px solid #009879;
}
tr.active-row {
    font-weight: bold;
    color: #009879;
}
.client-info{
    text-align: left;
}
@media only screen and (min-width: 800px) {
    button.trash-btn {
        margin-left: 10px;
    }
    .meal{
        margin-left: 20px;
    }
}
.client-breakfast{
    width: 100%;
}
.meal{
    font-weight: 800;
}
.meal1{
    font-weight: 800;
}
a.meal1.active{
    background-color: white;
}
a.meal.active{
    background-color: white;
}
.meal1:hover{
    text-decoration: none;
    color: gray;
}
.meal:hover{
    text-decoration: none;
    color: gray;
}
button.update-btn{
  float: right;
}
.active {
    color: gray;
}
/*end*/

/*coach-create*/
button.btn{
    border-radius: 10px;
}

button.btn a{
    padding: 10px;
}
a:active{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
a.col-4.btn.btn-primary,a.col-4.btn.btn-secondary{
    border-radius: 10px;
    color: white;
}
button.col-4.btn.btn-secondary a:hover{
    text-decoration: none;
    color: white;
}
button#capture-screenshot.btn-info{
    padding: 8px;
    border-radius: 10px;
}
button.btn-submit{
    padding: 8px;
    border-radius: 10px;
    background-color: red;
    color: white;
}
button.update-btn{
    background-color: royalblue;
    border-radius: 8px;
    font-weight: 600;
    color: white;
    padding: 6px;
    font-size: 0.8rem;
}
button.update-btn:hover{
    background-color: white;
    border-radius: 8px;
    font-weight: 600;
    color: royalblue;
    padding: 6px;
    font-size: 0.8rem;
}
button.update-btn a:hover{
    text-decoration: none;
}
strong.selected-name{
    color: gray;
    font-size: 1.2em;
}
button.btn-info.font-semibold.text-xl.text-blue-400-800.leading-tight{
    padding: 10px;
    border-radius: 10px;
}
button.btn-danger.font-semibold.text-xl.text-gray-800.leading-tight{
    padding: 10px;
    border-radius: 10px;
}
/*end*/
/*flash message*/
div.success{
    background-color: lightseagreen;
    padding: 15px;
    border-radius: 10px;
    color: white;
}
div.error{
    background-color: lightcoral;
    padding: 15px;
    border-radius: 10px;
    color: white;
}
/*end*/

/*diet-create*/
input#search.form-control{
    text-align: center;
    border: none;
    border-bottom: 2px solid #dddddd;
    font-weight: bold;
}
.table-container{
    text-align: left;
    overflow-x:auto;
}
.table-title{
    text-align: left;
    font-weight: bold;
}
select.mt-2.select-tag{
    border-radius:16px;
    border: none;

}
select.mt-2.select-tag:active{
    border-color: white;
}
/*/end/*/
.collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    border-radius: 0.5rem;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
}
.options.active{
    background-color: lightgrey;
    border-radius: 5px;
}
a:hover{
    text-decoration: none;
}
p.long-text.mt-3{
    padding: 10px;
    text-align: justify;
    text-justify: inter-word;
}
@media only screen and (max-width: 550px) {
    p.long-text.mt-3{
        padding: 10px;
        text-align: justify;
        text-justify: inter-word;
    }
    #link-box{
    padding: 2rem;
    }
}
.meall{
    font-weight: 800;
}
a.meall.active{
    background-color:gray;
    border-radius: 10px;
    padding: 0.375rem 0.75rem;
}

#scroll-to-top {
    display: none; /* Hide the button by default */
    position: fixed;
    bottom: 10px;
    right: 20px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 30px;
}
#scroll-to-top:hover{
    background-color: white;
    color: #333;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* Show the button when the user scrolls down 20px from the top of the document */
@media screen and (min-height: 600px) {
    #scroll-to-top.show {
        display: block;
    }
}

/* Style the button */
#scroll-to-bottom{
    display: none; /* Hide the button by default */
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 8px;
    border-radius: 30px;
}
#scroll-to-bottom:hover{
    background-color: white;
    color: #333;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/* Show the button when the user scrolls down 20px from the top of the document */
@media screen and (min-height: 600px) {
    #scroll-to-bottom.show {
        display: block;
    }
}
